<md-dialog aria-label="Sobre o App"  ng-cloak>
    <md-toolbar style="background-color: #FF9800">
        <div class="md-toolbar-tools">
            <h2>Sobre o App</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-design">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content md-accent">
            <p>
                Esse aplicativo foi desenvolvido para ajuda-lo a gerenciar os ramais.
                Qualquer problema ou feedback você pode entrar em contato com edyonil@gmail.com
            </p>

            <h4>Sobre o desenvolvedor</h4>
            <ul style="list-style: none">
                <li>
                    <md-icon>person</md-icon> Ediaimo Borges
                </li>
                <li>
                    <md-icon>email</md-icon> edyonil@gmail.com
                </li>
            </ul>
        </div>
    </md-dialog-content>
</md-dialog>