.toolbardemoScrollShrink .face {
    width: 48px;
    margin: 16px;
    border-radius: 48px;
    border: 1px solid #ddd; }

.hint {
    /* Position the hint */
    position: absolute;
    left: 40px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

input.ligth {
    border-color: #FFF;
    color: #FFF;
    width: 100%;
}
input.ligth:focus {
    border-bottom:1px solid #FFF !important;
}
input.ligth::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.7;
}
md-list-item.md-2-line .md-list-item-text, md-list-item.md-2-line > ._md-no-style .md-list-item-text, md-list-item.md-3-line .md-list-item-text, md-list-item.md-3-line > ._md-no-style .md-list-item-text{
    padding-left: 15px;
}
.not-margin .md-button{
    margin: 0;
}
@-webkit-keyframes display-none-transition {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    display: block;
    text-align: center;
}

.loading.loading-hide{
    -webkit-animation: display-none-transition 3s;
}